.ertert-2-icon {
  position: absolute;
  top: -683px;
  left: -1374px;
  width: 3448px;
  height: 2450px;
  object-fit: cover;
  display: none;
}
.wire-frame-11 {
  width: 216px;
  position: relative;
  height: 202px;
  object-fit: cover;
}
.sacred-heart-of1 {
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 100%;
  font-weight: 800;
}
.library-system1 {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.library-system1 {
  font-size: 80px;
  letter-spacing: 0.02em;
  font-weight: 800;
}
.learning-resource-center1 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
  color: var(--gray-text);
}
.logo1,
.logo2 {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo1 {
  position: absolute;
  top: 208.5px;
  left: 823px;
}
.home-child,
.log-out {
  position: absolute;
  height: 58px;
}
.log-out {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 21px;
  left: 1716px;
  width: 204px;
}
.home-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 223px;
}
.home1 {
  position: absolute;
  top: 11px;
  left: 86px;
  font-size: var(--book-title-size);
  line-height: 150%;
  font-weight: 800;
  font-family: var(--author);
  color: var(--color-red);
  text-align: left;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 20.69%;
  width: 38.1%;
  top: 53.45%;
  right: -4.76%;
  bottom: 25.86%;
  left: 66.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 15.52%;
  width: 50.79%;
  top: 25.86%;
  right: -11.11%;
  bottom: 58.62%;
  left: 60.32%;
}
.home,
.log-out-child {
  position: absolute;
  height: 58px;
}
.home {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 21px;
  left: 1297px;
  width: 63px;
}
.log-out-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 204px;
}
.log-out2 {
  position: absolute;
  top: 11px;
  left: 43px;
  font-size: var(--book-title-size);
  line-height: 150%;
  font-weight: 800;
  font-family: var(--author);
  color: var(--color-red);
  text-align: left;
}
.log-out1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 21px;
  left: 1573px;
  width: 204px;
  height: 58px;
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red);
  width: 1920px;
  height: 100px;
  overflow: hidden;
}
.navigate1 {
  position: relative;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 800;
}
.navigate {
  position: absolute;
  top: 188px;
  left: 353px;
  width: 329px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.borrowed-child,
.borrowed-item {
  position: absolute;
  top: 11px;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-red);
  width: 157px;
  height: 216px;
}
.borrowed-item {
  top: 0;
  left: 10px;
  background-color: var(--color-ghostwhite);
}
.header2,
.header3 {
  position: absolute;
  line-height: 150%;
  font-family: var(--author);
  color: var(--gray-text);
}
.header2 {
  top: 20px;
  left: 22px;
  font-size: var(--book-title-size);
  font-weight: 800;
  text-align: left;
}
.header3 {
  top: 150px;
  left: 98px;
  font-size: var(--font-size-17xl);
  text-align: center;
}
.borrowed,
.lost,
.overdue {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 308px;
  left: 243px;
  width: 167px;
  height: 227px;
}
.lost,
.overdue {
  left: 437px;
}
.overdue {
  left: 641px;
}
.history-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-red);
  width: 567px;
  height: 94px;
}
.history1 {
  position: absolute;
  top: 17px;
  left: calc(50% - 79.5px);
  font-size: var(--font-size-21xl);
  letter-spacing: 0.02em;
  line-height: 150%;
  font-weight: 800;
  font-family: var(--author);
  color: var(--white);
  text-align: left;
}
.borrow-book-child,
.history {
  position: absolute;
  height: 94px;
}
.history {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% + 62px);
  left: calc(50% - 718px);
  width: 567px;
}
.borrow-book-child {
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-red);
  width: 710px;
}
.borrow-book1 {
  position: absolute;
  top: 17px;
  left: calc(50% - 144px);
  font-size: var(--font-size-21xl);
  letter-spacing: 0.02em;
  line-height: 150%;
  font-weight: 800;
  font-family: var(--author);
  color: var(--white);
  text-align: left;
}
.borrow-book {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% + 70px);
  left: calc(50% + 8px);
  width: 710px;
  height: 94px;
}
.books-child {
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-red);
  width: 565px;
  height: 94px;
}
.books,
.books-child,
.books1 {
  position: absolute;
}
.books1 {
  top: 17px;
  left: calc(50% - 67.5px);
  font-size: var(--font-size-21xl);
  letter-spacing: 0.02em;
  line-height: 150%;
  font-weight: 800;
  font-family: var(--author);
  color: var(--white);
  text-align: left;
}
.books {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% + 180px);
  left: calc(50% - 717px);
  width: 565px;
  height: 94px;
}
.admin {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--book-title-size);
  color: var(--maroon);
  font-family: var(--author);
}
